:root {
  --bg-color: #fff;
  --text-color: #000;
  --border-color: #E6E6E6;
  
  --separator-color: #5A5A5A;
}

.dark {
  --bg-color: #000;
  --text-color: #fff;
  --border-color: #5A5A5A;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: "Inter", serif;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

ul {
  list-style: none;
}